# dotenv
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.log
*.pot
*.mo
*.cover
.coverage
.tox/
.pytest_cache/
.cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ipynb_checkpoints/
*.sqlite3
*.db
*.DS_Store
*.idea/
*.vscode/
*.ropeproject/
.env.*
.envrc
*.bak
*.swp
*.swo
*.~ 